//Global IE specific styling can go in here
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}

/*
* If page we need to see it at full width and no floats
*/
body.page-two-column:not(.archive) #primary .entry-header,
body.page-two-column:not(.archive) #primary .entry-content{
	float:none;
	width:100%;
}


.wp-block-code, .wp-block-preformatted pre {
    color: #bbb;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'functionpro_medium', "Helvetica Neue", helvetica, arial, sans-serif;
}

body, p, button, input, select, textarea {
    font-family: 'functionpro_book', "Helvetica Neue", helvetica, arial, sans-serif;
}
.navigation-top {
    font-size: 17px;
}
h2, .home.blog .entry-title, .page .panel-content .recent-posts .entry-title {
    font-size: 22px;
}
.site-title {
    font-size: 44px;
	text-transform: none;
}
body, button, input, select, textarea {
    font-size: 18px;
	color: #898989;
    text-rendering: optimizeLegibility;
}
#secondary {
    font-size: 17px;
}
.wpp-category{
	font-size: 14px;
}
.wpp-post-title{
	color:#000;
}
a {
    color: #00b19e;
    text-decoration: none;
	position:relative;
}
a:hover {
    color: #00b19e !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
	position: relative;
	text-decoration:none;
}


.entry-content a, .entry-summary a, .comment-content a, .widget a, .site-footer .widget-area a, .posts-navigation a, .widget_authors a strong {
    -webkit-transition-property: none;
	-moz-transition-property: none;
	-o-transition-property: none;
	transition-property: none;
	
	-webkit-box-shadow: none;
    box-shadow: none;
}

a:after {
    content: '';
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 0;
    height: 1px;
    background-color: #00b19e;
    -webkit-transition: all .3s cubic-bezier(.175,.885,.32,1.075);
    transition: all .3s cubic-bezier(.175,.885,.32,1.075);
}
a:hover:after {
    width: 100%;
}
.menu-item-has-children a:hover:after,
a.next:hover:after,
a.prev:hover:after,
a.custom-logo-link:hover:after,
.site-title a:hover:after {
    width: 0;
}

