/* Fonts */
/*
* Install fonts on this theme 
*/
@font-face {
    font-family: 'functionpro_medium';
    src:    url('assets/fonts/FuturaAgMiteOpti-Six.eot'); /* IE9 Compat Modes */
    src:    url('assets/fonts/FuturaAgMiteOpti-Six.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('assets/fonts/FuturaAgMiteOpti-Six.woff2') format('woff2'), /* Super Modern Browsers */
            url('assets/fonts/FuturaAgMiteOpti-Six.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
    font-family: 'functionpro_book';
    src:    url('assets/fonts/Function-Book.eot'); /* IE9 Compat Modes */
    src:    url('assets/fonts/Function-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('assets/fonts/Function-Book.woff2') format('woff2'), /* Super Modern Browsers */
            url('assets/fonts/Function-Book.woff') format('woff'); /* Pretty Modern Browsers */
}
$functionpro_medium : 'functionpro_medium', "Helvetica Neue", helvetica, arial, sans-serif;
$functionpro_book : 'functionpro_book', "Helvetica Neue", helvetica, arial, sans-serif;

/* Min Widths */
$break-xxxlarge: "(min-width: 1600px)";
$break-xxlarge: "(min-width: 1400px)";
$break-xlarge: "(min-width: 1200px)";
$break-large: "(min-width: 992px)";
$break-medium: "(min-width: 768px)";
$break-small: "(min-width: 576px)";

/* Max Widths */
$break-xxxlarge-max: "(max-width: 1599px)";
$break-xxlarge-max: "(max-width: 1399px)";
$break-xlarge-max: "(max-width: 1199px)";
$break-large-max: "(max-width: 991px)";
$break-medium-max: "(max-width: 767px)";
$break-small-max: "(max-width: 575px)";
$break-xsmall-max: "(max-width: 340px)";







