/* Fonts */
/*
* Install fonts on this theme 
*/
@font-face {
  font-family: 'functionpro_medium';
  src: url("assets/fonts/FuturaAgMiteOpti-Six.eot");
  /* IE9 Compat Modes */
  src: url("assets/fonts/FuturaAgMiteOpti-Six.eot?#iefix") format("embedded-opentype"), url("assets/fonts/FuturaAgMiteOpti-Six.woff2") format("woff2"), url("assets/fonts/FuturaAgMiteOpti-Six.woff") format("woff");
  /* Pretty Modern Browsers */ }

@font-face {
  font-family: 'functionpro_book';
  src: url("assets/fonts/Function-Book.eot");
  /* IE9 Compat Modes */
  src: url("assets/fonts/Function-Book.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Function-Book.woff2") format("woff2"), url("assets/fonts/Function-Book.woff") format("woff");
  /* Pretty Modern Browsers */ }

/* Min Widths */
/* Max Widths */
/*
    This will set the base style for all type-sets
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "functionpro_medium", "Helvetica Neue", helvetica, arial, sans-serif; }

body, p, button, input, select, textarea {
  font-family: "functionpro_book", "Helvetica Neue", helvetica, arial, sans-serif; }

/*
* If page we need to see it at full width and no floats
*/
body.page-two-column:not(.archive) #primary .entry-header,
body.page-two-column:not(.archive) #primary .entry-content {
  float: none;
  width: 100%; }

.wp-block-code, .wp-block-preformatted pre {
  color: #bbb; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'functionpro_medium', "Helvetica Neue", helvetica, arial, sans-serif; }

body, p, button, input, select, textarea {
  font-family: 'functionpro_book', "Helvetica Neue", helvetica, arial, sans-serif; }

.navigation-top {
  font-size: 17px; }

h2, .home.blog .entry-title, .page .panel-content .recent-posts .entry-title {
  font-size: 22px; }

.site-title {
  font-size: 44px;
  text-transform: none; }

body, button, input, select, textarea {
  font-size: 18px;
  color: #898989;
  text-rendering: optimizeLegibility; }

body .logged-in.menu-item {
	display: none;
}
body.logged-in .logged-in.menu-item {
	display: inline-block;
}

#secondary {
  font-size: 17px; }

.wpp-category {
  font-size: 14px; }

.wpp-post-title {
  color: #000; }

a {
  color: #00b19e;
  text-decoration: none;
  position: relative; }

a:hover {
  color: #00b19e !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  position: relative;
  text-decoration: none; }

.entry-content a, .entry-summary a, .comment-content a, .widget a, .site-footer .widget-area a, .posts-navigation a, .widget_authors a strong {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

a:after {
  content: '';
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 0;
  height: 1px;
  background-color: #00b19e;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.075);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.075); }

a:hover:after {
  width: 100%; }

.menu-item-has-children a:hover:after,
a.next:hover:after,
a.prev:hover:after,
a.custom-logo-link:hover:after,
.site-title a:hover:after {
  width: 0; }

/* ~~~~~~~~ */
/*  Header  */
/* ~~~~~~~~ */
/* ~~~~~~~~ */
/*  Footer  */
/* ~~~~~~~~ */
.entry-footer.archive-entry {
  margin-top: 0.6em; }

/* ~~~~~~~~ */
/*  Breadcrumbs  */
/* ~~~~~~~~ */
.searching-under {
  float: left;
  padding-right: 10px; }

#breadcrumbs {
  float: left;
  width: auto;
  margin-top: -5.0em !important; }

ul#breadcrumbs, #breadcrumbs li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

#breadcrumbs li {
  float: left; }

#breadcrumbs li span {
  display: inline-block;
  text-decoration: none;
  padding: 0 5px 0 0;
  margin: 0 0 0 5px; }

#breadcrumbs li:first-child span {
  margin: 0; }

/* ~~~~~~~~ */
/*  Accordion  */
/* ~~~~~~~~ */
.accordion .card-header button {
  width: 100%;
  text-align: left;
  text-decoration: none; }

.accordion .card-header button:hover,
.accordion .card-header button:focus {
  background: transparent; }

.accordion .card-header button h2 {
  margin-bottom: 0; }

.accordion .card-body ul,
.accordion .card-body ol {
  padding-inline-start: 40px; }

/* ~~~~~~~~ */
/*  Widgets  */
/* ~~~~~~~~ */
/*
* Only needed if Wordpress Popular Posts Widget with categories showing set
*/
.wpp-category {
  visibility: hidden;
  margin-left: -34px; }

.wpp-category a {
  visibility: visible; }

h2.widget-title {
  font-size: 12px; }

/* ~~~~~~~~ */
/*  Toggle  */
/* ~~~~~~~~ */
/*
* Bootstrap earlier CSS has better toggle styles.. which they took away for some reason??
*/
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e; }

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }

/**
 * other stuff

@import 'partials/slider';
@import 'partials/accordion';
@import 'partials/tabs';
@import 'partials/form-block';

@import 'premiere-locates/content-block';
@import 'premiere-locates/slider';
@import 'premiere-locates/accordion';
@import 'premiere-locates/tabs';
@import 'premiere-locates/contact';
@import 'premiere-locates/footer';
@import 'premiere-locates/header';
 */
