/* ~~~~~~~~ */
/*  Breadcrumbs  */
/* ~~~~~~~~ */

.searching-under{
	float: left;
	padding-right:10px;
}
#breadcrumbs {
	float: left;
    width: auto;
	margin-top: -5.0em !important;
}
ul#breadcrumbs, #breadcrumbs li {
	list-style-type:none;
	padding:0;
	margin:0;
}
#breadcrumbs li {
	float:left;
}
#breadcrumbs li span {
    display: inline-block;
    text-decoration: none;
    padding: 0 5px 0 0;
    margin: 0 0 0 5px;
}
#breadcrumbs li:first-child span {
    margin: 0;
}