/* ~~~~~~~~ */
/*  Footer  */
/* ~~~~~~~~ */

footer {
    &.site-footer {

        .top-footer {

            position:relative;
            padding:75px 0px;
            @include flex-center();

            .footer-logo {

                a {
                    display:inline-block;
                    border-bottom:none;

                    img {
                        width:249px;
                        height:68px;
                    }
                }

                @media #{$break-large-max} {
                    margin-bottom:50px;
                }

            }

            .footer-contact {

            }

            .footer-opportunities {

            }

            .footer-box {

                width: 30%;

                &.last-footer-box {

                }

            }

            .back-to-top {
                cursor:pointer;
                position:absolute;
                width:76px;
                height:76px;
                right:66px;
                bottom:-39px;
                border-radius:50%;
                -webkit-border-radius:50%;
                background:$color-offwhite;
                box-shadow:0px 7px 10px rgba(0,0,0,0.25);
                -webkit-box-shadow:0px 7px 10px rgba(0,0,0,0.25);
                @include flex-center();
                @include transition();

                    span {
                        background:url('../images/backtotoparrow.svg') no-repeat center;
                        width:20px;
                        height:30px;
						display:block;
                    }

                @media #{$break-xlarge-max} {
                    right:48px;
                    bottom: calc(100% - 40px);
                }
                @media #{$break-large-max} {
                    right:15px;
                }

                &:hover, &:focus {
                    @include scale();
                    background:#e5e5e5;

                    box-shadow:0px 0px 7px rgba(0,0,0,0.25);
                    -webkit-box-shadow:0px 0px 7px rgba(0,0,0,0.25);
                }

            }

        }

        .bottom-footer {
            padding:36px 0px;
            p {
                margin:0px;
                @include p-small-style();

                span {
                    padding:0px 12px;
                }
                a {

                }
            }

        }

        .container {
            @media #{$break-xlarge-max} {
                width: 100%;
                max-width: calc(100% - 96px);
            }
            @media #{$break-large-max} {
                width: 100%;
                max-width: 100%;
            }
        }



    }
}
